{% set urlname="home" %}
{% extends "base.html" %}

{% block main %}
<div class="ui two column divided grid">
	<div class="row">
		<div class="twelve wide column">
			<img src="{{ static('images/osx.jpg') }}">
			<h3 class="ui header">Macaca SNP Database</h3>
			<p>Dog Genome SNP Database (DoGSD) is a data container for the variation information of dog/wolf genomes. It was designed and constructed as an SNPs detector and visualization tool to provide the research community a useful resource for the study of dog's population, evolution, phenotype and life habit.

In the current version, DoGSD contains 19 millions non-redundant SNPs retrived from dbSNP (ver 139) and called from 77 individual smaples.</p>
			
			<h3 class="ui header">Features</h3>
			<ul class="ui list">
				<li>We provide a non-redundant dataset for all SNPs and individual list for each sample.</li>
				<li>We provide two ways to view SNP, one is table-based format and the other is chromosome based GBrowse format.</li>
				<li>We provide detailed information of each SNP, including original sample, sequencing platform, chromosome position, SNP annotation, 3/5 flank sequences, SNPs of same position but detected in other samples, allele frequencies of dog/wolf populations and Fst value between dog and wolf populations.</li>
				<li>We provide the comparative analysis function to facilitate a quick comparison of SNPs in different samples.</li>
				<li>We provide table-delimited SNP, bam/sra and fastq files of each individual in the download ftp. User can get all the data and do more deep analysis.</li>
			</ul>

			<h3 class="ui header">Publications</h3>
			<p>Bai B, Zhao WM, Tang BX, et al.(2015)."DoGSD: the dog and wolf genome SNP database." Nucleic Acids Res 43:777-783.PMID:25404132</p>

			<h3 class="ui header">Participations</h3>
			<p>This work contributed by Beijing Institute of Genomics (BIG) and Kunming Institute of Zoology (KIZ). BIG develops the database architecture and maintains the service, KIZ provides the data.</p>

		</div>
		<div class="four wide column">
			<div class="ui brown inverted segment">
				<p>Version 1.0</p>
				<p>Last updated: Jul 26, 2014</p>
			</div>
			<h4 class="ui header">What's New</h4>
			<ul class="ui list">
				<li>Version 2.0 is on line now which uses Canfam3.0 as the reference genome.</li>
				<li>A total of 77 individual dog smaples are included.</li>
				<li>Fst data for all the samples can be shown in Browser.</li>
				<li>Google Map is integrated to show geographic locations of each individual sample.</li>
				<li>updated Jul 26, 2014</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}