{% set urlname = "organism" %}
{% extends "base.html" %}
{% block main %}
<div class="ui header">Individual Detailed Information</div>
<table class="ui compact celled table">
	<thead>
		<tr>
			<th>Individual</th>
			<th>Taxonomy</th>
			<th>Scientific name</th>
			<th>Common name</th>
			<th>Group</th>
			<th>Location</th>
			<th>SNPs</th>
		</tr>
	</thead>
	<tbody>
		{% for s in samples %}
		<tr>
			<td>{{s.code}}</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{s.species.taxonomy}}" target="_blank">{{s.species.taxonomy}}</a></td>
			<td><a href="{{ url('species', kwargs={'sid':s.species.id}) }}"><i>{{s.species.scientific}}</i></a></td>
			<td>{{s.species.common}}</td>
			<td><a href="{{ url('group', kwargs={'gid':s.species.group.id}) }}">{{s.species.group.name}}</a></td>
			<td>{{s.location}}</td>
			<td>{{s.variants}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div class="ui header">Number of Heterozygous and Homozygous SNPs</div>
<canvas id="mychart1" width="400" height="100"></canvas>
<div class="ui header">Heterozygosity and SNV Rate</div>
<canvas id="mychart2" width="400" height="100"></canvas>
<div class="ui header">PCR Duplicates and Mean Coverage</div>
<canvas id="mychart3" width="400" height="100"></canvas>

<script src="{{ static('Chart.min.js') }}"></script>
<script type="text/javascript">
Chart.defaults.global.defaultFontColor = "black";
//Chart.defaults.global.elements.line.borderWidth = 3;
var ctx = document.getElementById('mychart1').getContext('2d');
new Chart(ctx, {
	type: 'line',
	data: {
		labels: [{% for s in samples %} "{{ s.code }}", {% endfor %}],
		datasets: [
			{
				label: "Heterozygous",
				data: [{% for s in samples %} {{s.heterozygous}}, {% endfor %}],
				borderColor: 'rgb(255, 99, 132)',
				backgroundColor: 'rgb(255, 99, 132)',
				fill: false,
			},
			{
				label: "Homozygous",
				data: [{% for s in samples %} {{s.homozygous}}, {% endfor %}],
				fill: false,
				borderColor: 'rgb(75, 192, 192)',
				backgroundColor: 'rgb(75, 192, 192)',
			},
			{
				label: "Total SNVs",
				data: [{% for s in samples %} {{s.variants}}, {% endfor %}],
				fill: false,
				borderColor: 'rgb(54, 162, 235)',
				backgroundColor: 'rgb(54, 162, 235)',
			}
		]
	}
});

var ctx = document.getElementById('mychart2').getContext('2d');
new Chart(ctx, {
	type: 'line',
	data: {
		labels: [{% for s in samples %} "{{ s.code }}", {% endfor %}],
		datasets: [
			{
				label: "Heterozygosity",
				data: [{% for s in samples %} {{s.heterozygosity}}, {% endfor %}],
				borderColor: 'rgb(255, 159, 64)',
				backgroundColor: 'rgb(255, 159, 64)',
				fill: false,
			},
			{
				label: "SNV rate",
				data: [{% for s in samples %} {{s.snv_rate}}, {% endfor %}],
				fill: false,
				borderColor: 'rgb(153, 102, 255)',
				backgroundColor: 'rgb(153, 102, 255)',
			}
		]
	}
});

var ctx = document.getElementById('mychart3').getContext('2d');
new Chart(ctx, {
	type: 'line',
	data: {
		labels: [{% for s in samples %} "{{ s.code }}", {% endfor %}],
		datasets: [
			{
				label: "PCR duplicate (%)",
				data: [{% for s in samples %} {{s.pcr_duplicate}}, {% endfor %}],
				borderColor: 'rgb(201, 203, 207)',
				backgroundColor: 'rgb(201, 203, 207)',
				fill: false,
			},
			{
				label: "Mean coverage",
				data: [{% for s in samples %} {{s.mean_coverage}}, {% endfor %}],
				fill: false,
				borderColor: 'rgb(255, 205, 86)',
				backgroundColor: 'rgb(255, 205, 86)',
			}
		]
	}
});
</script>
{% endblock %}