{% set urlname="specific" %}
{% extends "base.html" %}
{% block main %}

<h2 class="ui brown header">
	MACSNP{{"%s%02d%08d"|format(cat, category.id, snp.id)}}
	<div class="ui orange large label">
		{% if cat == 'G' %}Group{% else %}Species{% endif %}-Specific to {% if cat == 'G' %} {{category.name}} {% else %} {{category.common}} {% endif %}
	</div>
</h2>

<h3 class="ui header">Variant Allele information</h3>
<table class="ui table">
	<thead>
		<tr><th>Chromosome</th><th>Position</th><th>Reference</th><th>Alteration</th><th>Genotype</th></tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ snp.chromosome.name }}</td>
			<td>{{ snp.position }}</td>
			<td>{{ snp.reference }}</td>
			<td>{{ snp.alteration }}</td>
			<td>
				<span class="genotype homo">homozygote</span>
			</td>
		</tr>
	</tbody>
</table>

<h3 class="ui header">Variant Allele Flanking Sequence</h3>
<table class="ui definition table">
	<tr><td>5' Flanking Sequence</td><td>{{ snp.five|format_seq|safe }}</td></tr>
	<tr><td>3' Flanking Sequence</td><td>{{ snp.three|format_seq|safe }}</td></tr>
</table>

<h3 class="ui header">Gene Information</h3>
<table class="ui table">
	<thead>
		<tr><th>Gene ID</th><th>Gene Name</th><th>Biotype</th><th>Position in Gene</th><th>Strand</th><th>Location</th></tr>
	</thead>
	<tbody>
		{% for gene in genes %}
		<tr>
			<td><a class="ui item" href="">{{ gene.gene.ensembl }}</a></td>
			<td><a data-tooltip="{{ gene.gene.description }}">{{ gene.gene.name }}</a></td>
			<td>{{ gene.gene.get_biotype_display() }}</td>
			<td>{{ gene.gene_pos }}</td>
			<td>{{ gene.gene.strand }}</td>
			<td>{{ gene.get_feature_display() }}</td>
		</tr>
		{% else %}
		<tr><td colspan="6" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

<h3 class="ui header">Transcript and Protein Annotation Information</h3>
<table class="ui table">
	<thead>
		<tr>
			<th>Transcript ID</th>
			<th>Position in Transcript</th>
			<th>Codon Change</th>
			<th>Protein ID</th>
			<th>Position in Protein</th>
			<th>Residue Change</th>
			<th>Mutation</th>
		</tr>
	</thead>
	<tbody>
		{% for transcript in transcripts %}
		<tr>
			<td><a href="http://www.ensembl.org/Macaca_mulatta/geneview?gene={{ transcript.transcript.ensembl }}">{{ transcript.transcript.ensembl }}</a></td>
			<td>{{ transcript.transcript_pos }}</td>
			<td>{{ transcript.ref_codon|format_codon(transcript.codon_pos)|safe }} -> {{ transcript.alt_codon|format_codon(transcript.codon_pos)|safe }}</td>
			<td><a href="http://www.ensembl.org/Macaca_mulatta/geneview?gene={{ transcript.transcript.protein }}">{{ transcript.transcript.protein }}</a></td>
			<td>{{ transcript.protein_pos }}</td>
			<td>{{ transcript.ref_aa }} -> {{ transcript.alt_aa }}</td>
			<td>{{ transcript.get_synonymous_display() }}</td>
		</tr>
		{% else %}
		<tr><td colspan="7" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>


{% for gene in genes %}
{% if gene.feature == 1 %}
<h3 class="ui header">Functional Annotation for Gene <span style="color:#A52A2A;">{{ gene.gene.ensembl }}</span></h3>
<h4 class="ui header">Gene Ontology (GO) Annotation</h4>
<table class="ui compact table">
	<thead>
		<tr><th>GO Term</th><th>Description</th><th>Ontology</th></tr>
	</thead>
	<tbody>
		{% for go in gene.gene.funcannot_set.filter(function__source=1) %}
		<tr>
			<td><a href="http://amigo.geneontology.org/amigo/term/{{ go.function.accession }}">{{ go.function.accession }}</a></td>
			<td>{{ go.function.description }}</td>
			<td>{{ go.function.supplement }}</td>
		</tr>
		{% else %}
		<tr><td colspan="3" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

<h4 class="ui header">KEGG Pathway Annotation</h4>
<table class="ui compact table">
	<thead>
		<tr><th>Pathway ID</th><th>Description</th><th>Category</th></tr>
	</thead>
	<tbody>
		{% for kegg in gene.gene.funcannot_set.filter(function__source=2) %}
		<tr>
			<td><a href="http://www.kegg.jp/dbget-bin/www_bget?{{ kegg.function.accession }}">{{ kegg.function.accession }}</a></td>
			<td>{{ kegg.function.description }}</td>
			<td>{{ kegg.function.supplement }}</td>
		</tr>
		{% else %}
		<tr><td colspan="3" class="center aligned">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

<h4 class="ui header">Pfam Protein Family</h4>
<table class="ui compact table">
	<thead>
		<tr><th>Pfam ID</th><th>Description</th><th>Clan</th></tr>
	</thead>
	<tbody>
		{% for pfam in gene.gene.funcannot_set.filter(function__source=4) %}
		<tr>
			<td><a href="http://pfam.xfam.org/family/{{ pfam.function.accession }}">{{ pfam.function.accession }}</a></td>
			<td>{{ pfam.function.description }}</td>
			<td>
				{% if pfam.function.supplement %}
				<a href="{{ pfam.function.supplement }}">{{ pfam.function.supplement }}</a>
				{% else %}
				N/A
				{% endif %}
			</td>
		</tr>
		{% else %}
		<tr><td colspan="3">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

<h4 class="ui header">InterPro Domains</h4>
<table class="ui compact table">
	<thead>
		<tr><th>InterPro ID</th><th>Description</th><th>Type</th></tr>
	</thead>
	<tbody>
		{% for interpro in gene.gene.funcannot_set.filter(function__source=3) %}
		<tr>
			<td><a href="http://www.ebi.ac.uk/interpro/entry/{{ interpro.function.accession }}">{{ interpro.function.accession }}</a></td>
			<td>{{ interpro.function.description }}</td>
			<td>
				{% if interpro.function.supplement %}
				{{ interpro.function.supplement }}
				{% else %}
				N/A
				{% endif %}
			</td>
		</tr>
		{% else %}
		<tr><td colspan="2">N/A</td></tr>
		{% endfor %}
	</tbody>
</table>

{% endif %}
{% endfor %}


{% endblock %}