{% set urlname="specific" %}
{% extends "base.html" %}
{% block main %}
<form action="{{ url('variants') }}" method="get" id="snps-filter">
<input type="hidden" id="page" name="page" value="{{ paras.page }}">
<input type="hidden" id="chromosome" name="chr" value="{{ paras.chromosome }}">
<input type="hidden" id="individual" name="sample" value="{{ paras.sample }}">
<input type="hidden" id="feature" name="feature" value="{{ paras.feature }}">
<input type="hidden" id="genotype" name="genotype" value="{{ paras.genotype }}">
<input type="hidden" id="mutation" name="mutation" value="{{ paras.mutation }}">
<div class="ui segment">
	<div class="ui circular labels">
		<a class="ui label">Species</a>
		<select name="species" class="ui compact selection dropdown">
			{% for s in species %}
			<option value="{{ s.id }}">{{ s.scientific }}</option>
			{% endfor %}
		</select>

		<a class="ui label">Group</a>
		<select name="group" class="ui compact selection dropdown">
			{% for g in groups %}
			<option value="{{ g.id }}">{{ g.name }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="ui chromosome circular labels">
		Chromo:
		<a class="ui label {% if paras.chromosome==0 %} orange {% endif %}" data-num="0">All</a>
		{% for c in chromos %}
		<a class="ui label {% if paras.chromosome==c.id %} orange {% endif %}" data-num="{{c.id}}">{{c.name}}</a>
		{% endfor %}
	</div>

	{% set features=["All", "CDS", "exon", "3'UTR", "intron", "5'UTR"] %}
	{% set genotypes = ["All", "homozygote", "	heterozygote"] %}
	{% set mutations = ["All", "non-synonymous", "synonymous"] %}

	<div class="ui circular labels">
		Feature:
		{% for f in features %}
		<a class="ui features label {% if paras.feature==loop.index0 %} orange {% endif %}" data-num="{{loop.index0}}">{{ f }}</a>
		{% endfor %}

		Mutation:
		{% for m in mutations %}
		<a class="ui mutations label {% if paras.mutation==loop.index0 %} orange {% endif %}" data-num="{{loop.index0}}">{{ m }}</a>
		{% endfor %}


	</div>
</div>

<div class="ui grid">
	<div class="eight wide column">
		Show
		<select name="records" class="ui numperpage compact selection dropdown">
			{% set pages=[10, 25, 50, 100] %}
			{% for v in pages %}
			<option value="{{v}}" {% if paras.records==v %} selected="selected" {% endif %}>{{v}}</option>
			{% endfor %}
		</select>
		entries
	</div>

	<div class="right aligned eight wide column">
		<div class="ui basic result segment">
			<span>{{ snps.paginator.count }} SNPs</span>
			<span>{{ snps.number }} of {{ snps.paginator.num_pages }} Pages</span>
		</div>
	</div>
</div>

<table class="ui celled table">
	<thead>
		<tr>
			<th>Position</th>
			<th>Reference</th>
			<th>Alteration</th>
		</tr>
	</thead>
	<tbody>
		{% for snp in snps %}
		<tr>
			<td>{{ snp.chrom.name }}:{{snp.position}}</td>
			<td>{{snp.reference}}</td>
			<td>{{snp.alteration}}</td>
		</tr>
		{% else %}
		<tr><td colspan="6" class="center aligned">No Results Found</td></tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr><th colspan="6">
		<div class="ui pager right floated pagination menu">
			{% if snps.has_previous() %}
			<a class="icon item" data-num="{{ snps.previous_page_number() }}">
				<i class="left chevron icon"></i>
			</a>
			{% endif %}

			{% for i in range(3, 0, -1) %}
			{% if snps.number - i > 0 %}
			<a class="item" data-num="{{snps.number-i}}">{{snps.number-i}}</a>
			{% endif %}
			{% endfor %}
			
			<span class="item active" data-num="{{snps.number}}">{{snps.number}}</span>
			
			{% for i in range(1, 4) %}
			{% if snps.number + i <= snps.paginator.num_pages %}
			<a class="item" data-num="{{snps.number+i}}">{{snps.number+i}}</a>
			{% endif %}
			{% endfor %}

			{% if snps.has_next() %}
			<a class="icon item" data-num="{{ snps.next_page_number() }}">
				<i class="right chevron icon"></i>
			</a>
			{% endif %}
		</div>
	</th></tr>
	</tfoot>
</table>
</form>
{% endblock %}
