<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Macaca SNP Database</title>
	<script src="{% static('jquery-3.2.1.min.js') %}"></script>
	<script src="{% static 'semantic/semantic.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'semantic/semantic.min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div style="display:none;">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</div>
<div class="ui container">
	
</div>

<div class="ui brown attached inverted segment">
	<div class="ui brown inverted secondary huge menu">
		<div class="ui container">
			<div class="header">
				<img src="{% static 'images/logo.png' %}" width="90" height="90">	
			</div>
			<a class="item" href="#">Home</a>
			<a class="item" href="">Browse</a>
			<a class="item" href="">Species</a>
			<a class="item" href="#">Version</a>
			<a class="item" href="#">Help</a>
			<div class="right menu">
				<div class="item">
					<div class="ui icon input">
						<input type="text" placeholder="chr19:56897-57988">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ui main container">
	<div class="ui segment">
		<div class="ui circular labels">
			Chromos:
			<a class="ui label">All</a>
			{% for c in chromos %}
			<a class="ui label">{{c.name}}</a>
			{% endfor %}
		</div>

		<div class="ui circular labels">
			Individuals:
			<a class="ui label">All</a>
			{% for s in species %}
			<a class="ui label">{{s.code}}</a>
			{% endfor %}
		</div>

		<div class="ui circular labels">
			Locations:
			<a class="ui label">All</a>
			<a class="ui label">CDS</a>
			<a class="ui label">3'UTR</a>
			<a class="ui label">5'UTR</a>
			<a class="ui label">Intron</a>
		</div>
	</div>

	<table class="ui celled table">
		<thead>
			<tr>
				<th>SNP ID</th>
				<th>Position</th>
				<th>Individual</th>
				<th>Reference</th>
				<th>Alteration</th>
				<th>Genotype</th>
			</tr>
		</thead>
		<tbody>
			{% for snp in snps %}
			<tr>
				<td><a href="">MACSNP{{snp.snp.chromosome.id|stringformat:"02d"}}{{snp.species.id|stringformat:"02d"}}{{snp.snp.id|stringformat:"08d"}}</a></td>
				<td>{{snp.snp.chromosome.name}}: {{snp.snp.position}}</td>
				<td>{{snp.species.code}}</td>
				<td>{{snp.snp.reference}}</td>
				<td>{{snp.snp.alteration}}</td>
				<td>{{snp.get_genotype_display}}</td>
			</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr><th colspan="6">
			<div class="ui right floated pagination menu">
				{% if snps.has_previous %}
				<a class="icon item" href="?page={{snps.previous_page_number}}">
					<i class="left chevron icon"></i>
				</a>
				{% endif %}

				{% for i in page_range %}
				<a class="item {% ifequal i snps.number %} active {% endifequal %}" href="?page={{i}}">{{ i }}</a>
				{% endfor %}

				{% if snps.has_next %}
				<a class="icon item" href="?page={{snps.next_page_number}}">
					<i class="right chevron icon"></i>
				</a>
				{% endif %}
			</div>
		</th></tr>
		</tfoot>
	</table>

</div>

<div class="ui inverted brown vertical footer segment">
	<div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Group 1</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 2</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Group 3</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Three</a>
            <a href="#" class="item">Link Four</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="assets/images/logo.png" class="ui centered mini image">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Site Map</a>
        <a class="item" href="#">Contact Us</a>
        <a class="item" href="#">Terms and Conditions</a>
        <a class="item" href="#">Privacy Policy</a>
      </div>
    </div>
</div>

</body>
</html>