{% set urlname="disease" %}
{% extends "macaca/base.html" %}

{% block title %}OMIM{{ diseases[0].pomim }}  - MACSNPdb{% endblock %}

{% block main %}
<h3 class="ui header">Disease information</h3>

<table class="ui table">
	<thead>
		<tr>
			<th>Phenotype OMIM</th>
			<th>Phenotype title</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a href="https://omim.org/entry/{{ diseases[0].pomim }}">{{ diseases[0].pomim }} <i class="small external alternate icon"></i></a></td>
			<td>{{ phenotype }}</td>
		</tr>
	</tbody>
</table>


<h3 class="ui header">Disease associated genes</h3>
<table class="ui table">
	<thead>
		<tr><th>Ensembl ID</th><th>Gene OMIM</th><th>Symbol</th><th>Phenotype</th><th>Inheritance</th><th>Phenotype mapping key</th><th>SNPs in CDS</th></tr>
	</thead>
	<tbody>
		{% for disease in diseases %}
		<tr>
			<td><a href="{{ url('gene', kwargs={'gid':disease.orthology.gene.ensembl}) }}">{{ disease.orthology.gene.ensembl }}</a></td>
			<td><a href="https://omim.org/entry/{{ disease.gomim }}" target="_blank">{{ disease.gomim }}</a></td>
			<td><a data-tooltip="{{ disease.orthology.gene.description }}">{{ disease.orthology.gene.name }}</a></td>
			<td>{{ disease.phenotype }}</td>
			<td>{{ disease.inheritance }}</td>
			<td><a data-tooltip="{{ disease.get_mapkey_display() }}">{{ disease.mapkey }}</a></td>
			<td><a href="{{ url('csnps', kwargs={'gid':disease.orthology.gene.ensembl}) }}" class="ui basic orange button">Browse</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}