.ui.footer.segment {
	margin: 3em 0em 0em;
	padding: 5em 0em;
}

.ui.main{
	margin-top: 3em;
}

.ui.result span{
	margin-left: 20px;
}

.genotype{
	padding: 1px 10px;
	display: inline-block;
	border-radius: 15px;
	color: #fff;
}
.genotype.hetero{
	background: linear-gradient(to right, #f2711c 0%, #f2711c 50%, #a5673f 50%, #a5673f 100%);
}
.genotype.homo{
	background: #a5673f;
}

/*base color*/
.A, .T, .C, .G, .N{
	display: inline-block;
	width: 10px;
	text-align: center;
}

/*
.N{color:gray;}
.A{color:#5050ff;}
.T{color:orange;}
.G{color:#00c000;}
.C{color:#e00000;}
*/